n8n-workflows/1-market-scanner.json
{
  "name": "1. Market Scanner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes (Market Hours)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT symbol FROM watchlist WHERE active = true ORDER BY symbol;",
        "options": {}
      },
      "id": "fetch-watchlist",
      "name": "Fetch Watchlist",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL - Trading DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ new Date().getDay() }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "leftValue": "={{ new Date().getDay() }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "leftValue": "={{ new Date().getHours() }}",
              "rightValue": 9,
              "operator": {
                "type": "number",
                "operation": "largerEqual"
              }
            },
            {
              "leftValue": "={{ new Date().getHours() }}",
              "rightValue": 16,
              "operator": {
                "type": "number",
                "operation": "smaller"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-market-hours",
      "name": "Check Market Hours",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "stop-execution",
              "name": "message",
              "value": "Market closed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "market-closed",
      "name": "Market Closed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        900,
        420
      ]
    },
    {
      "parameters": {
        "url": "=https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={{ $json.symbol }}&interval=5min&apikey=2GIRY0GZYZWPW148&outputsize=compact",
        "authentication": "none",
        "sendQuery": false,
        "sendHeaders": false,
        "options": {}
      },
      "id": "fetch-candle-data",
      "name": "Fetch Candle Data (Alpha Vantage)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Transform Alpha Vantage to Finnhub format\nconst timeSeries = $input.item.json['Time Series (5min)'];\nconst symbol = $input.item.json.symbol;\n\nif (!timeSeries) {\n  return { json: { symbol, error: 'No data from Alpha Vantage' } };\n}\n\nconst entries = Object.entries(timeSeries);\nconst candles = {\n  symbol,\n  c: [],\n  h: [],\n  l: [],\n  v: []\n};\n\nentries.forEach(([time, data]) => {\n  candles.c.push(parseFloat(data['4. close']));\n  candles.h.push(parseFloat(data['2. high']));\n  candles.l.push(parseFloat(data['3. low']));\n  candles.v.push(parseFloat(data['5. volume']));\n});\n\nreturn { json: candles };"
      },
      "id": "transform-alphavantage",
      "name": "Transform Alpha Vantage Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate Technical Indicators\nconst candles = $input.item.json;\nconst symbol = $input.item.json.symbol || 'UNKNOWN';\n\n// Extract OHLCV data\nconst closes = candles.c || [];\nconst highs = candles.h || [];\nconst lows = candles.l || [];\nconst volumes = candles.v || [];\n\nif (closes.length < 50) {\n  return { json: { symbol, error: 'Insufficient data' } };\n}\n\n// --- SMA Calculation ---\nfunction calculateSMA(data, period) {\n  if (data.length < period) return null;\n  const slice = data.slice(-period);\n  const sum = slice.reduce((a, b) => a + b, 0);\n  return sum / period;\n}\n\nconst sma10 = calculateSMA(closes, 10);\nconst sma30 = calculateSMA(closes, 30);\n\n// --- RSI Calculation ---\nfunction calculateRSI(data, period = 14) {\n  if (data.length < period + 1) return null;\n  \n  let gains = 0;\n  let losses = 0;\n  \n  for (let i = data.length - period; i < data.length; i++) {\n    const change = data[i] - data[i - 1];\n    if (change > 0) gains += change;\n    else losses -= change;\n  }\n  \n  const avgGain = gains / period;\n  const avgLoss = losses / period;\n  \n  if (avgLoss === 0) return 100;\n  const rs = avgGain / avgLoss;\n  return 100 - (100 / (1 + rs));\n}\n\nconst rsi = calculateRSI(closes, 14);\n\n// --- ADX Calculation (Simplified) ---\nfunction calculateADX(highs, lows, closes, period = 14) {\n  if (highs.length < period + 1) return null;\n  \n  let plusDM = 0;\n  let minusDM = 0;\n  let tr = 0;\n  \n  for (let i = highs.length - period; i < highs.length; i++) {\n    const highDiff = highs[i] - highs[i - 1];\n    const lowDiff = lows[i - 1] - lows[i];\n    \n    plusDM += (highDiff > lowDiff && highDiff > 0) ? highDiff : 0;\n    minusDM += (lowDiff > highDiff && lowDiff > 0) ? lowDiff : 0;\n    \n    const range = Math.max(\n      highs[i] - lows[i],\n      Math.abs(highs[i] - closes[i - 1]),\n      Math.abs(lows[i] - closes[i - 1])\n    );\n    tr += range;\n  }\n  \n  const plusDI = (plusDM / tr) * 100;\n  const minusDI = (minusDM / tr) * 100;\n  \n  if (plusDI + minusDI === 0) return 0;\n  return Math.abs(plusDI - minusDI) / (plusDI + minusDI) * 100;\n}\n\nconst adx = calculateADX(highs, lows, closes, 14);\n\n// Current price\nconst currentPrice = closes[closes.length - 1];\n\n// Previous RSI for crossover detection\nconst prevRSI = calculateRSI(closes.slice(0, -1), 14);\n\n// Output\nreturn {\n  json: {\n    symbol,\n    currentPrice,\n    sma10,\n    sma30,\n    rsi,\n    prevRSI,\n    adx,\n    volume: volumes[volumes.length - 1],\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "calculate-indicators",
      "name": "Calculate Indicators",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sma-cross",
              "leftValue": "={{ $json.sma10 }}",
              "rightValue": "={{ $json.sma30 }}",
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            },
            {
              "id": "adx-threshold",
              "leftValue": "={{ $json.adx }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            },
            {
              "id": "rsi-cross-50",
              "leftValue": "={{ $json.rsi }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            },
            {
              "id": "prev-rsi-below-50",
              "leftValue": "={{ $json.prevRSI }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "smaller"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-signal-conditions",
      "name": "Check Signal Conditions",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "no-signal",
              "name": "action",
              "value": "HOLD",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "no-signal",
      "name": "No Signal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO signals (symbol, action, confidence, indicators, created_at)\nVALUES (\n  '{{ $json.symbol }}',\n  'BUY',\n  {{ ($json.adx / 50 * 100).toFixed(2) }},\n  '{{ JSON.stringify({ sma10: $json.sma10, sma30: $json.sma30, rsi: $json.rsi, adx: $json.adx, currentPrice: $json.currentPrice }) }}'::jsonb,\n  NOW()\n)\nRETURNING signal_id;",
        "options": {}
      },
      "id": "log-signal",
      "name": "Log Signal to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        60
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL - Trading DB"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trade-execution",
        "options": {}
      },
      "id": "webhook-trigger-execution",
      "name": "Trigger Trade Execution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1780,
        60
      ],
      "webhookId": "market-scanner-to-execution"
    }
  ],
  "connections": {
    "Every 5 Minutes (Market Hours)": {
      "main": [
        [
          {
            "node": "Fetch Watchlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Watchlist": {
      "main": [
        [
          {
            "node": "Check Market Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Market Hours": {
      "main": [
        [
          {
            "node": "Fetch Candle Data (Alpha Vantage)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Market Closed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Candle Data (Alpha Vantage)": {
      "main": [
        [
          {
            "node": "Transform Alpha Vantage Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Alpha Vantage Data": {
      "main": [
        [
          {
            "node": "Calculate Indicators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Indicators": {
      "main": [
        [
          {
            "node": "Check Signal Conditions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Signal Conditions": {
      "main": [
        [
          {
            "node": "Log Signal to Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Signal to Database": {
      "main": [
        [
          {
            "node": "Trigger Trade Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-20T00:00:00.000Z",
  "versionId": "1"
}
