n8n-workflows/6-dashboard-api.json
{
  "name": "6. Dashboard API",
  "nodes": [
    {
      "parameters": {"httpMethod": "GET", "path": "account-data", "options": {}},
      "id": "webhook-account",
      "name": "GET /account-data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 100]
    },
    {
      "parameters": {"operation": "executeQuery", "query": "SELECT a.current_equity as equity, a.buying_power, a.margin_health_score as margin_health, COALESCE(SUM(t.profit_loss), 0) as daily_pnl FROM accounts a LEFT JOIN trades t ON a.account_id = t.account_id AND DATE(t.entry_time) = CURRENT_DATE WHERE a.snaptrade_account_id = 'test_account_123' GROUP BY a.account_id;"},
      "id": "fetch-account-data",
      "name": "Fetch Account",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 100],
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Trading DB"}}
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ $json }}"},
      "id": "respond-account",
      "name": "Respond Account Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 100]
    },
    {
      "parameters": {"httpMethod": "GET", "path": "positions", "options": {}},
      "id": "webhook-positions",
      "name": "GET /positions",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {"operation": "executeQuery", "query": "SELECT p.*, w.symbol, w.company_name FROM positions p LEFT JOIN watchlist w ON p.symbol = w.symbol WHERE p.status = 'open' ORDER BY p.created_at DESC;"},
      "id": "fetch-positions",
      "name": "Fetch Positions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Trading DB"}}
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ $json }}"},
      "id": "respond-positions",
      "name": "Respond Positions Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    },
    {
      "parameters": {"httpMethod": "GET", "path": "trades", "options": {}},
      "id": "webhook-trades",
      "name": "GET /trades",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 500]
    },
    {
      "parameters": {"operation": "executeQuery", "query": "SELECT t.*, w.symbol, w.company_name FROM trades t LEFT JOIN watchlist w ON t.symbol = w.symbol WHERE t.status = 'closed' ORDER BY t.exit_time DESC LIMIT 50;"},
      "id": "fetch-trades",
      "name": "Fetch Trades",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 500],
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Trading DB"}}
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ $json }}"},
      "id": "respond-trades",
      "name": "Respond Trades Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 500]
    },
    {
      "parameters": {"httpMethod": "GET", "path": "alerts", "options": {}},
      "id": "webhook-alerts",
      "name": "GET /alerts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 700]
    },
    {
      "parameters": {"operation": "executeQuery", "query": "SELECT a.*, w.symbol, w.company_name FROM alerts a LEFT JOIN watchlist w ON a.symbol = w.symbol ORDER BY a.created_at DESC LIMIT 20;"},
      "id": "fetch-alerts",
      "name": "Fetch Alerts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 700],
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Trading DB"}}
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ $json }}"},
      "id": "respond-alerts",
      "name": "Respond Alerts Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 700]
    }
  ],
  "connections": {
    "GET /account-data": {"main": [[{"node": "Fetch Account", "type": "main", "index": 0}]]},
    "Fetch Account": {"main": [[{"node": "Respond Account Data", "type": "main", "index": 0}]]},
    "GET /positions": {"main": [[{"node": "Fetch Positions", "type": "main", "index": 0}]]},
    "Fetch Positions": {"main": [[{"node": "Respond Positions Data", "type": "main", "index": 0}]]},
    "GET /trades": {"main": [[{"node": "Fetch Trades", "type": "main", "index": 0}]]},
    "Fetch Trades": {"main": [[{"node": "Respond Trades Data", "type": "main", "index": 0}]]},
    "GET /alerts": {"main": [[{"node": "Fetch Alerts", "type": "main", "index": 0}]]},
    "Fetch Alerts": {"main": [[{"node": "Respond Alerts Data", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
